PORT=3050
FRONTEND_URL=http://localhost:3051
POSTGRES_USER=cinemo
POSTGRES_PASSWORD=cinemo
POSTGRES_DB=cinemo
POSTGRES_PORT=5445
DATABASE_URL=postgresql://cinemo:cinemo@localhost:5445/cinemo?schema=public&sslmode=disable
API_JWT_SECRET=cinemo-dev-jwt-secret-change-me
# REDIS_URL=redis://localhost:6380
